body {
  background-color: #111;
  color: white;
}

h2 {
  width: 50%;
  border-bottom: solid #fff 0.1em;
  margin: 4px 13px;
  padding: 5px;
}

table {
  border-collapse: collapse;
  margin: 2%;
}

td, th {
  min-width: 80px;
  padding: 8px;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #005580;
}

tbody tr {
  background-color: black;
}

thead tr {
  background-color: #99aaff;
}

tr {
  border-bottom: solid white 0.05em;
}

a {
  color: #4598c2;
  text-decoration: #4dbcf3;
}

a:hover {
  color: #bde9ff;
}

.type-table {
  margin-bottom: 120px;
  margin-left: 30px;
  margin-right: 30px;
}