table {
  border-collapse: collapse;
  margin: 2%;
}

td, th {
  min-width: 80px;
  padding: 8px;
}

th {
  cursor: pointer;
}

th:hover {
  background-color: #99ddff;
}

tbody tr:nth-child(1), tr:nth-child(2n+3) {
  background-color: #ffccdd;
}

tr:nth-child(even) {
  background-color: #ddffcc;
}

thead tr {
  background-color: #99aaff;
}